.container
  .row
    .col.s12
      %code
        Here is your task
        %br
        %br
        Create two pages
        %br
        %br
        1) homepage
        %br
        \- create section with full width background image of your favorite food
        %br
        \- name of your favorite food over the image centered vertically and horizontally
        %br
        \- headline with icon
        %br
        \- paragraph with short description of your favorite food
        %br
        \- headline with icon
        %br
        \- unordered list with ingredients of food
        %br
        \- headline with icon
        %br
        \- ordered list with how to cook it
        %br
        \- headline with icon
        %br
        \- responsive table with table header and table body with two columns 1) calories/100gr 2) kJ/100gr
        %br
        %br
        2) page with form
        %br
        \- message: text input field with character counter
        %br
        \- number of people, who ate that food - number input field
        %br
        \- contact: e-mail input field
        %br
        \- was it private or public degustation? - group of two radio buttons
        %br
        \- would you recommend this recipe: materialize switch
        %br
        \- what beverage is best for this food: select (beer, red wine, white wine, tap water)
        %br
        \- do you agree with TOS: checkbox
        %br
        \- submit button
        %br
        %br
        3) create navigation with links to homepage and form
        %br
        \- make navigation also for mobile
        %br
        %br
        4) General rules
        \- all content is in the middle
        %br
        \- on mobile (<= 600px) form is full width, homepage is up to you (what you find best)
        %br
        \- on iPad landscape (> 992px) form is like 75% of the container width, homepage is up to you (what you find best)
        %br
        \- on large screens (> 1200px) form is like 50% of the container width, homepage is up to you (what you find best)
        %br
        \- all components should work on mobile devices
        %br
        \- all components should work after using back/history button in you browser
        %br
        \- of course, you can use the internet
        %br
        \- here is Materialize documentation: https://materializecss.com/
        %br
        %br
        5) You have two hours - try to finish all what you can (choose your priority according your knowledge)
        %br
        \- at the end make a branch named with your name and push
        %br
        %br
        6) Score
        %br
        \- homepage - image section | 1 point
        %br
        \- homepage - rest of elements | 1 point
        %br
        \- form | 1 point
        %br
        \- all js elements are working | 1 point
        %br
        \- navigation, mobile navigation | 1 point
        %br
        \- correct responsiveness | 1 point
        %br
        \- Note: scoring can be very subjective ;-)
        %br
        \- if you win, you can choose one of these prizes: 1) all inclusive ticket for https://2020.rubyunconf.eu/ or https://balkanruby.com/ 2) choose hardware up to 200 EUR
        %br
        \- if you loose, you'll get one-way ticket to Afghanistan (I heard it's beautiful in this season)
        %br
        %br
        7) After finish, there'll be some time for eating/drinking/playing games and last not at least Q&A
